<div [routerLink]="config().link"
     [class.card]="true"
     [class.clickable]="config().link"
     [class.card--photo]="config().backgroundImage"
     [ngStyle]="config().backgroundImage ? {'background-image': 'url(' + config().backgroundImage + ')'} : {}"
     (mouseenter)="onHover()" (mouseleave)="onLeave()">
  @if (config().backgroundImage) {
    <div class="card-overlay"></div>
  }
  @if (config().image) {
    <div class="card-header">
      <img [src]="config().image" [alt]="config().title" class="card-image">
    </div>
  }
  <div class="card-body">
    @if (config().icon) {
      <div class="card-icon">{{ config().icon }}</div>
    }
    <h3 class="card-title">{{ config().title | translate }}</h3>
    <p class="card-description">{{ config().description | translate }}</p>
    @if (config().arrow) {
      <span class="card-arrow">→</span>
    }
  </div>
</div>
